.App {
  text-align: center;
  background: #FFF;
}

.App-header {
  background-color: #080077;
  height: 6vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  max-height: 5vh;
  object-fit: contain;
}